body {
    background-position: center;
    background-size: cover;
    background-attachment: fixed; 
    transition: background 0.5s ease-in-out;
    margin: 0;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  }
      .main {
        text-align: center;
        background-color: #41464bed; /*  #41464b*/
        width: 70%;
        margin: auto;
        box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
        border-radius: 15px;
        padding: 20px;
        margin-top: 50px;
      }
  
      @keyframes sample {
        0% {
          border-radius: 30px;
        }
  
        14% {
          background-color: #ff7675; 
        }
  
        28% {
          background-color: #f5da55; 
        }
  
        42% {
          background-color: #00b894; 
        }
  
        56% {
          background-color: #0984e3;
        }
  
        70% {
          background-color: #6c5ce7; 
        }
  
        84% {
          background-color: #a29bfe; 
        }
  
        100% {
          border-radius: 30px;
          background-color: #ffeaa7;
          color: #0984e3; 
        }
      }
  
      .theme-button {
        position: absolute;
        top: 20px;
        right: 20px;
      }
  
      .done-button {
        background-color: #27ae60; 
        border-color: #27ae60;
      }
  
      .done {
        background-color: #d4edda !important;
      }
  
      .input-group {
        margin-bottom: 20px;
      }
  
      .form-control {
        border-radius: 10px;
      }
  
      .btn-info {
        background-color: #0984e3 !important; 
        border-color: #0984e3 !important;
      }
  
      .btn-info:hover {
        background-color: #74b9ff !important; 
      }
  
      .btn-success {
        background-color: #27ae60 !important; 
        border-color: #27ae60 !important;
      }
  
      .btn-success:hover {
        background-color: #2ecc71 !important; 
      }
  
      .btn-danger {
        background-color: #d63031 !important; 
        border-color: #d63031 !important;
      }
  
      .btn-danger:hover {
        background-color: #e74c3c !important; 
      }
  
      table {
        width: 100%;
        margin-top: 20px;
        border-collapse: collapse;
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
      }
  
      th,
      td {
        padding: 15px;
        text-align: left;
        border-bottom: 1px solid #0000006b; 
      }
  
      th {
        background-color: #0984e3; 
        color: white;
      }
  
      th,
      td {
        font-weight: 500;
      }
  
      .form-control::placeholder {
        color: #636e72; 
        font-weight: 300;
      }