body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #f4f4f4;
}

.container {
    text-align: center;
    padding-top: 50px;
}

h1 {
    margin-bottom: 20px;
}

audio {
    width: 100%;
    margin-bottom: 20px;
}

button {
    padding: 10px 20px;
    background-color: #007bff;
    border: none;
    color: #fff;
    cursor: pointer;
    margin: 0 10px;
    border-radius: 5px;
}

button:hover {
    background-color: #0056b3;
}
 

.animation{
    width: 500px;
    height: 500px;
    /* position: absolute; */
    top: 50%;
    left: 50%;
    /* line-height: 300px; */
    /* margin: -150px; */
    /* background: white; */
    /* color: #03446A; */
    /* text-align: center; */
    font-size: 35px;
    box-shadow: 0 0 15px rgba(0,0,0,0.1);
    animation-name: sample;
    animation: sample 2s infinite alternate;        
    }
    @keyframes sample{
        0%{border-radius: 0%;}
        25%{background-color: red;}
        50%{background-color: aqua;}
        75%{background-color: yellow;}
        100%{border-radius: 50%;background-color: burlywood;color: blue;}
    }
    .audiosec{
        width: 88%;
    padding-top: 10px;
    }