body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
  }

  header {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 1em 0;
  }

  main {
    max-width: 600px;
    margin: 25px auto;
    background-color: #fff;
    padding: 24px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    border-radius: 15px;
  }

  input {
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    box-sizing: border-box;
  }

  button {
    background-color: #4caf50;
    color: #fff;
    padding: 10px;
    border: none;
    cursor: pointer;
    width: 100%;
  }

  /* search result paragraph */
  p {
    margin-top: 20px; 
    /* background-color: rgb(0, 200, 255);
    color: black; */
  }

  footer {
    text-align: center;
    padding-top: 264px;
  }