body{
    background-color: bisque;
}
#container {
    max-width: 400px;
    margin: 50px auto;
    text-align: center;
}
 
h1 {
    color: #3498db;
    font-size: 50px;
}
#para{
    font-size: 25px;
    color: darkgrey;
}
input {
    width: 75%;
    padding: 10px;
    margin: 10px 0;
}

button:hover {
    background-color: #27ae60;
}

#hint {
    font-size: 1.2em;
    margin-top: 20px;
    color: darkgrey;
}
button {
    padding: 12px 17px;
    background-color: #2ecc71;
    color: #fff;
    border: none;
    cursor: pointer;
    border-radius: 15px;
    /* border: 76px red; */
}
#main-body{
    background-color: #fff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 15px rgba(0,0,0,0.1);
    animation: sample 2s infinite alternate;        
    }
    @keyframes sample{
        0%{border-radius: 0%;}
        25%{background-color: rgb(148, 9, 9);}
        50%{background-color: rgb(14, 167, 167);}
        75%{background-color: rgba(255, 255, 0, 0.982);}
        100%{border-radius: 50%;background-color: rgba(222, 184, 13rgba(0, 0, 255, 0.548).816);color: rgb(13, 13, 173);}
}
